:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

.container-fluid {
  min-height: 100vh;
}

.fiter-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-select {
  width: 100px;
}