:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

.container-fluid {
  min-height: 100vh;
}

.fiter-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btns {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.form-select {
  width: 100px;
}

.col-sm-12,
.col-md-12 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-card-row {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}